# flask
# flask-cors
# pyodbc
# speechrecognition
# pyaudio
# numpy
# scipy
# opencv-python
# wave
# pydub
# noisereduce
# gunicorn


flask
flask-cors
pyodbc
SpeechRecognition
numpy
scipy
opencv-python-headless
pydub
noisereduce
gunicorn